
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The ARKHIVES</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="img/logo-xs.png">

    <!-- CSS -->
    
    <link rel="stylesheet" href="assets/skeleton/css/normalize.css">

    <link rel="stylesheet" href="assets/skeleton/css/skeleton.css">
    
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="css/main.css">

    <!-- TRANSITION ANIMATION CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">

</head>

<body class="animsition" data-ng-app="searchApp">

<!-- ANGULARJS INCLUDE -->
    <script src="assets/angular/angular.js"></script>

    <!--  MENU -->
    <div class="row" id="menu">
            <ul>
                <li><a href="index.html" class="animsition-link">HOME</a></li>
                <li><a href="about.html" class="animsition-link">ABOUT</a></li>
                <li><a href="#searchbar">BROWSE/SEARCH the ARKHIVES</a></li>
                <li><a href="#." id="close-link">CLOSE</a></li>
            </ul>

    </div>

    <!-- NAVIGATION -->
  
    <div class="row" id="nav">
            
                <p id="menu-link"><a href="#menu">MENU</a></p>
                
               

    </div>

    <div class="container">



    <!-- TITLE -->
        <div class="row" id="title">
                <img src="img/logo.png" alt="The ARKHIVES Logo" id="logo"/>
        </div><!-- CLOSE TITLE -->

    
    <!-- SEARCH BAR -->

         <div id="searchbar">

            <div>

                <h4>Enter keywords here to search or sort...</h4>
                <input type="text" data-ng-model="searchStories" />
            

            </div> <!--CLOSE MAINCTRL-->

        </div><!-- CLOSE SEARCH -->

    <!-- STORIES CONTAINER -->
         <div data-ng-controller="MainCtrl" class="row stories" id="archive"> 
            
             <div data-ng-repeat="story in stories | filter:searchStories" class="story-title eleven columns">
                
                <h1><a href="{{story.link}}">{{story.title}}</a></h1> 
                <h5>Genre: {{story.genre}} | Audience: {{story.audience}}</h5>


             </div>



        </div><!-- CLOSE STORIES CONTAINER-->

            
       
    </div> <!-- CLOSE CONTAINER -->


    <div id="footer">
    <!-- FOOTER -->
        <div class="row container" id="footer-content">

            <h2>Contact</h2>
                <ul>
                    <li><a href="https://www.facebook.com/The-Arkhives-284166928593099/"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></li> 

                    <li><a href="http://twitter.com/the_arkhives" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                
             
                </ul>

            <h2>Subscribe</h2>
            <p>Get the latest updates on newly uploaded stories and news!</p>
            <p>No spam. We promise.</p>


            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

            <div id="mc_embed_signup">
                <form action="//thearkhives.us13.list-manage.com/subscribe/post?u=e0e2959a11f9fe4c82a9ea24f&amp;id=1efaa6f29a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            
                    <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
            
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e0e2959a11f9fe4c82a9ea24f_1efaa6f29a" tabindex="-1" value=""></div>
                    
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    
                    </div>
                </form>
            </div>

            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

        <!-- END MAILCHIMP SIGNUP FORM -->

        <img src="img/logo-xs.png" alt="The ARKHIVES logo" />

        </div><!-- Close footer container -->
        
    </div><!-- Close footer -->

<!--jQuery -->
    <script
        src="http://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
    

<!-- CUSTOM JS -->

    <script src="js/search.js"></script>
    <script src="js/main.js"> </script>


<!-- Google Analytics -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80010408-1', 'auto');
      ga('send', 'pageview');

    </script>
    
</body>
</html>