#title {
	margin: 0;
	width: 100%;
    /*background-image: url('../img/jatb-01.svg');
    background-size: cover;
    background-repeat: no-repeat;*/
}

#story-title {
	width: 75%;
	max-width: 75%;
	padding: 5%;
}

.page {
	margin: 0;
	width: 100%;
}