/******** JACK AND JILL  ***********/

/* GLOBAL */


h3 {
	text-align: center;
	text-shadow: 2px 2px 4px #fff;
	margin: 0;
	padding: 0;
}

/* MENU */

#menu {
	width: 100%;
	background-color: #333;
	position: fixed;
	top: 0;
	float: left;
	z-index: 9000;
}

#menu ul{
	width: 45%;
	margin: 0 auto;
}

#menu li, #menu a:link, #menu a:visited{
	list-style: none;
	display: inline-block;
	color: #efefef;
	padding: 5px 10px;
}

/* NAVIGATION */

#nav {
	background-color: rgba(255,255,255, 0.5);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 8999;
}

#nav ul{
	width: 75%;
	margin: 0 auto;
}

#nav li { 
margin: 0 200px 30px 200px;
}

#nav a:link, a:visited{
	color: #9c8844;
}

#share-link {
	float: right;
}

#menu-link{
	float: left;
}

.clear {
	clear: both;
}

/* STORY SECTIONS */

#title {
	margin: 100px auto;
	width: 100%;
}

#story-title {
	width: 75%;
	max-width: 75%;
	padding: 5%;
}

.page {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}



.text {
	/*padding: 0 100px;*/
	margin: 100px;
}

.story-container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

/*.story-container img {
	width: 25%;
}*/

#page-01 {
	background: url('../img/jnj-01-bg.png') no-repeat center center; 
	background-size: contain;
	
}

#page-01 img {
	width: 25%;
}

#jnj-01-div {
	width: 75%;
	margin: 0 auto;
	padding-left: 20%;
}


#page-02 {
	background: url('../img/jnj-02-bg.png') no-repeat center center; 
	background-size: contain;

	margin-bottom: 100px;
}



