/******** JACK AND JILL  ***********/

/* GLOBAL */

h3 {
	font-size: 18px;
	text-align: center;
	text-shadow: 2px 2px 4px #fff;
	margin: 0;
	padding: 0;
}

/* MENU */

#menu {
	width: 100%;
	background-color: #333;
	position: fixed;
	top: 0;
	float: left;
	z-index: 9000;
}

#menu ul{
	width: 40%;
	margin: 0 auto;
}

#menu li, #menu a:link, #menu a:visited{
	list-style: none;
	display: inline-block;
	color: #efefef;
	padding: 5px 10px;
}

/* NAVIGATION */

#nav {
	background-color: rgba(255,255,255, 0.2);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 8999;
}

#nav ul{
	width: 100%;
	margin: 0 -10%;
}

#nav li { 
	margin: 0 200px 30px 200px;
}

#nav a:link, a:visited{
	color: #9c8844;
}


/*#menu-link{
	float: right;
}

.clear {
	clear: both;
}

/* STORY SECTIONS */

#title {
	margin: 100px auto;
	width: 100%;
}

#story-title {
	width: 75%;
	max-width: 75%;
	padding: 5%;
}

.page {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.page img{
	width: 45%;
}



.text {
	/*padding: 0 100px;*/
	margin: 100px;
}

.stories {
    max-width: 960px;
    width: 100%;
    margin: 50px 0 50px 5%;
}

.story-container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}


/* Larger than tablet/mobile */

@media (min-width: 550px) {
	/* TEXT */
	h3 {
		font-size: 2em;

	}
    /* NAV */
    #nav ul{
        width: 50%;
        margin: 15px auto;
        padding-top: 0;
        text-align: center;
    }

    #nav li{
        display: inline-block;
        margin: 0 10px;
    }
	
	#menu ul{
	width: 50%;
	margin: 0 auto;
	}

    /* TITLE/LOGO WELCOME */

    #title {
        
        width: 100%;
        margin: 100px auto 200px auto;
        text-align: center;
    }

    #logo {
        max-width: 75%;
        width: 75%;
        margin: 0 auto;
    }


    /* STORIES SECTION */
    .stories {
        max-width: 960px;
        width: 100%;
        margin: 100px 0 100px 5%;
    }   

    .page img{
		width: 45%;
	}


}

